img{
    width: 300px;
}
h1{
    font-size: 70px;
    line-height: 1.2;
    text-shadow: 4px 4px 4px whitesmoke;
}
h1, h2, h3{
    color: #474747;
}
h1, h2{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
header{
    background-color: #84A07C;
}
ul{
    text-align: left;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow:hidden;
    background-color: aliceblue;

}
ul li{
    font: bold 16px sans-serif;
    display: inline-block;
    position: relative;
}
li{
    float: left;
}
ul li:hover {
background: #84A07C;
color: black;
}
ul li ul {
    padding: 0;
    position: absolute;
    top: 30px;
    left: -10000px;
    width: 100px;
}
ul li ul li{
    background: blueviolet;
    display: block;
    color: brown;
}
ul li ul li:hover{
    background: cadetblue;
}
ul li:hover ul{
    display: block;
    left: 0px;
}
li a{
    display: block;
    padding: 20px;
    background-color: #D3BCCC;
}
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
h2{
    font-size: 35px;
}
.projects{
    background-color: #D3BCCC;
}
.projects a{
    color:white;
    font-weight: bold;
    background-color: rgb(86, 3, 173);
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects a:link{
    color: white;
}
.projects a:visited{
    color:bisque
}

.projects a:hover{
    background: rgba(86, 3, 173, 80%)
}
.project-item{
    overflow: hidden;
    border-bottom: 2px dashed darkgrey;
    padding: 25px 0;
}
.project-item img {
    float: left;
    margin-right: 20px;
}
.project-item h3{
    margin-top: 0;
}
.education{
    background-color: #84A07C;
}
section h2{
    color: #5603AD;
}
a:link{
color: slategray;
}
a:visited{
    color: darkslategray;
}
.content-wrap{
    width: 800px;
    margin:0 auto;
    padding: 60px 0;
}
footer{
    background-color: #D3BCCC;
}